@import './base.css';

#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-weight: normal;
}

.main {
  width: 300px;
}

.product-preview {
  padding: 8px 16px;
  border: 1px solid #323232;
  border-radius: 8px;
  margin-bottom: 16px;
}
